.about-us {
  display: flex;

  height: 60rem;
}

.about-us__bookmark-container {
  display: flex;
  flex-direction: column;

  width: 15%;

  align-items: flex-end;
}

.about-us__bookmark {
  position: relative;

  display: inline-block;

  margin-right: 5rem;

  transform: rotate(180deg);
  text-align: right;
  vertical-align: middle;
  letter-spacing: 3px;

  color: var(--lighter-blue);
  border: 1px solid var(--main-blue);
  border-bottom: none;

  font-size: 3rem;
  font-weight: 300;

  writing-mode: vertical-rl;
}

.about-us__bookmark--padding {
  padding: 16rem 1.5rem 1.5rem 2rem;
}

.about-us__bookmark::after {
  position: absolute;
  top: 0;
  left: 25%;

  display: inline-block;

  content: url("/img/about-us/about-us-blue-line-circle.png");
  transform: rotate(180deg) scale(0.7);
}

.about-us__heading-container {
  width: 85%;
  margin: 2.5rem 0;
}

.about-us__heading--underline {
  padding-bottom: 8px;

  background: url("/img/general/underline-blue-right.png") no-repeat;
  background-position: 97% 100%;
  background-size: 37% 4px;
}

.about-us__container {
  width: 100%;
}

.about-us__main-sub-text--blue {
  color: var(--main-blue);
}

.about-us__info-container {
  display: flex;
}

.about-us__text-container {
  display: flex;
  flex-direction: column;

  width: 50%;

  align-items: flex-start;
}

.about-us__main-text {
  width: 50%;

  font-size: 5rem;
  font-weight: bold;
  line-height: 1.3;
}

.about-us__sub-text {
  letter-spacing: 1px;

  font-size: 2.6rem;
}

.about-us__sub-text--blue-line {
  padding-right: 20rem;

  background: url("/img/about-us/blue-line.png") no-repeat;
  background-position: 93% 100%;
  background-size: 35% 0.15rem;
}

.about-us__secondary-text {
  width: 56rem;

  color: var(--lighter-black);

  font-size: 2rem;
  font-weight: 300;
  line-height: 1.3;
}

.about-us__secondary-text--mt-md {
  margin-top: 3rem;
}

.about-us__statistics-container {
  display: flex;

  margin-top: 5rem;
  padding-right: 3rem;

  gap: 3rem;
}

.about-us__statistics-card {
  display: flex;
  flex-direction: column;

  height: 20.5rem;

  align-items: center;
  gap: 1.6rem;
}

.about-us__statistics-card--bb--green {
  border-bottom: 3px solid var(--green);
}

.about-us__statistics-card--bb--red {
  border-bottom: 3px solid var(--red);
}

.about-us__statistics-card--bb--orange {
  border-bottom: 3px solid var(--orange);
}

.about-us__statistics-circle {
  width: 4rem;
  height: 4rem;

  border: 1px solid var(--main-white);
  border-radius: 50%;
}

.about-us__statistics-number {
  margin-top: 1rem;

  font-size: 5rem;
}

.about-us__statistics-text {
  margin-top: 1.5rem;

  text-align: center;

  color: var(--light-black);

  font-size: 2.5rem;
  font-weight: 300;
}

.about-us__statistics-circle--green {
  background-color: var(--green);
  box-shadow: 0 0 0 10px var(--sub-green);
}

.about-us__statistics-circle--red {
  background-color: var(--red);
  box-shadow: 0 0 0 10px var(--sub-red);
}

.about-us__statistics-circle--orange {
  background-color: var(--orange);
  box-shadow: 0 0 0 10px var(--sub-orange);
}

.about-us__statistics-number--green {
  color: var(--green);
}

.about-us__statistics-number--red {
  color: var(--red);
}

.about-us__statistics-number--orange {
  color: var(--orange);
}

@media (max-width: 1350px) {
  .about-us {
    display: flex;

    height: 70rem;
  }

  .about-us__main-text {
    width: 70%;

    font-size: 5rem;
    font-weight: bold;
    line-height: 1.3;
  }

  .about-us__secondary-text {
    width: 45rem;

    color: var(--lighter-black);

    font-size: 2rem;
    font-weight: 300;
    line-height: 1.3;
  }

  .about-us__sub-text--blue-line {
    padding-right: 15rem;

    background-position: 93% 100%;
    background-size: 26% 0.15rem;
  }

  .about-us__secondary-text--small-screen {
    display: none;
  }
}

@media (max-width: 1200px) {
  .about-us__bookmark--padding {
    padding: 18rem 1.5rem 1.5rem 2rem;
  }
}

@media (max-width: 1080px) {
  .about-us__text-container {
    width: 60%;
  }
}

/* TABLET */
@media (max-width: 980px) {
  .about-us__bookmark-container {
    display: none;
  }

  .about-us {
    height: 110rem;
  }

  .about-us__heading-container {
    width: 100%;
    height: 20%;
    margin: 0;
  }

  .about-us__heading {
    font-size: 5rem;
    font-weight: 400;
  }

  .about-us__heading--underline {
    background-position: 95% 100%;
    background-size: 37% 3px;
  }

  .about-us__info-container {
    display: grid;

    grid-template-areas:
      "row-1"
      "row-2";
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 5rem;
  }

  .about-us__statistics-container {
    margin-top: 0;

    grid-area: row-1;
    justify-content: space-around;
  }

  .about-us__text-container {
    width: 100%;

    text-align: center;

    align-items: center;
    gap: 2rem;
    grid-area: row-2;
    justify-content: center;
  }

  .about-us__sub-text {
    font-size: 3rem;
    font-weight: 400;
  }

  .about-us__sub-text--blue-line {
    padding-right: 0;
    padding-bottom: 2rem;

    background: url("/img/about-us/blue-line.png") no-repeat;
    background-position: 50% 100%;
    background-size: 52.5% 0.2rem;
  }

  .about-us__statistics-card {
    width: 20rem;
    height: 25rem;
  }

  .about-us__statistics-circle {
    width: 6rem;
    height: 6rem;

    border-radius: 50%;
  }

  .about-us__statistics-number {
    margin-top: 2rem;

    font-size: 6rem;
  }

  .about-us__statistics-text {
    margin-top: 1.5rem;

    text-align: center;

    color: var(--main-black);

    font-size: 2.8rem;
    font-weight: 400;

    word-break: break-all;
  }

  .about-us__secondary-text--small-screen {
    display: block;

    width: 75%;
    margin-top: 7rem;

    color: var(--light-light-black);

    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.3px;
  }

  .about-us__secondary-text {
    display: none;
  }
}

/* MOBILE */
@media (max-width: 685px) {
  .about-us {
    height: 70rem;
  }

  .about-us__heading-container {
    height: 15%;
  }

  .about-us__heading {
    font-size: 4rem;
    font-weight: 500;
  }

  .about-us__statistics-container {
    padding-right: 0;

    gap: 1.2rem;
  }

  .about-us__statistics-card {
    width: 14rem;
    height: 16rem;

    gap: 0;
    justify-content: space-around;
  }

  .about-us__statistics-circle {
    width: 3.5rem;
    height: 3.5rem;
  }

  .about-us__statistics-number {
    margin-top: 0;

    font-size: 4rem;
  }

  .about-us__statistics-text {
    margin-top: 0;
    margin-bottom: 1.5rem;

    color: var(--light-black);

    font-size: 2rem;
    font-weight: 400;
  }

  .about-us__statistics-circle--green {
    box-shadow: 0 0 0 6px var(--sub-green);
  }

  .about-us__statistics-circle--red {
    box-shadow: 0 0 0 6px var(--sub-red);
  }

  .about-us__statistics-circle--orange {
    box-shadow: 0 0 0 6px var(--sub-orange);
  }

  .about-us__main-text {
    width: 60%;

    font-size: 4rem;
  }

  .about-us__secondary-text--small-screen {
    margin-top: 1.5rem;

    font-size: 1.8rem;
    font-weight: bold;
  }

  .about-us__sub-text {
    font-size: 2.5rem;
  }

  .about-us__text-container {
    gap: 1rem;
  }
}
