/* MOBILE */

@media (max-width: 685px) {
    .features {
        height: 45rem;
    }

    .features__grid-container {
        width: 80%;
        margin: 0 auto;
        margin-top: 1rem;

        font-size: 2rem;

        grid-template-columns: repeat(2, 1fr);
    }

    .feature__icon-1 {
        width: calc(4rem * 0.5);
    }

    .feature__icon-2 {
        width: calc(6rem * 0.5);
    }

    .feature__icon-3 {
        width: calc(6rem * 0.5);
    }

    .feature__icon-4 {
        width: calc(6rem * 0.5);
    }

    .feature__icon-5 {
        width: calc(5rem * 0.5);
    }

    .feature__icon-6 {
        width: calc(5rem * 0.5);
    }

    .features__feature-container--bb::after {
        padding-top: 0;
    }

    .features__feature-container--bb--add::after {
        padding-top: 0;
    }

    .features__feature-container--mt {
        margin-top: 0;
    }

    .features__feature-container--br::before {
        top: 5.5rem;

        width: 25%;
    }

    .features__feature-container--br--add-bottom::before {
        top: 6rem;

        width: 25%;
    }

    .features__text--offset {
        margin-bottom: 0;
    }

    .feature__icon-2--offset {
        margin-bottom: 1rem;
    }

    .feature__icon-3--offset {
        margin-top: 0;
    }

    .features__heading-container {
        height: 10%;
        margin-top: 2rem;
    }

    .features__heading {
        font-size: 3rem;
    }

    .feature__text--offset {
        margin-bottom: 0;
    }

    .features__heading--underline {
        background-size: 35% 1.5px;
    }
}

@media (max-width: 515px) {
    .features__feature-container--br::before {
        top: 5.5rem;

        width: 40%;
    }

    .features__feature-container--br--add-bottom::before {
        top: 6rem;

        width: 50%;
    }
}
