@media (max-width: 685px) {
    .footer {
        height: 120rem;
    }

    .footer__resources-useful-links-container {
        display: none;
    }

    .footer__we-are-social-container {
        margin-left: 0;
    }

    .footer__resources-my-account-container {
        display: none;
    }

    .footer__logo {
        width: calc(14rem * 0.75);
    }

    .footer__we-are-ask-it-text {
        font-size: calc(3.5rem * 0.75);
    }

    .footer__resources-heading {
        font-size: calc(5rem * 0.75);
    }

    .footer__socials-logo {
        font-size: calc(5rem * 0.75);
    }

    .footer__socials-envelope {
        font-size: calc(5rem * 0.75);
    }

    .footer__resources-subscribe-input {
        font-size: calc(4rem * 0.75);
    }

    .footer__copyright {
        font-size: calc(4rem * 0.5);
    }

    .footer__socials-envelope--offset {
        top: 21.5%;
    }
}
