/* MOBILE */
@media (max-width: 685px) {
    .interaction {
        flex-direction: column-reverse;

        height: 35rem;

        justify-content: space-evenly;
    }

    .interaction__tips__column {
        display: flex;
        flex-direction: row;

        gap: 3rem;
        justify-content: center;
    }

    .interaction__tips-container-1 {
        top: 0;

        width: 10rem;
        height: 10rem;
    }

    .interaction__tips-container-2 {
        left: 0;

        width: 10rem;
        height: 10rem;
    }

    .interaction__tips-container-3 {
        bottom: 0;

        width: 10rem;
        height: 10rem;
    }

    .interaction__text-container {
        width: 100%;
        margin-left: 0;

        align-items: center;
        gap: 0.5rem;
        justify-content: center;
    }

    .interaction__main-text {
        margin-top: 0;

        font-size: 1.7rem;
    }

    .interaction__main-text--pl {
        padding-left: 0;
    }

    .interaction__sub-text {
        font-size: 1.4rem;
    }

    .interaction__sub-text--white-line {
        padding-bottom: 0.8rem;

        background-size: 73% 0.1rem;
    }

    .interaction__secondary-text--small-screen {
        width: 80%;
        margin-top: 2rem;

        font-size: 1rem;
    }

    .interaction__tips {
        margin-top: 1.8rem;

        word-spacing: 1px;

        font-size: 1rem;
        font-weight: bold;
    }

    .interaction__tips-icon::before {
        position: absolute;
        z-index: 10;
        right: 30%;
        bottom: -150%;

        transform: scale(0.2);
    }

    .interaction__tips-container-2 {
        left: 0;

        width: 10rem;
        height: 10rem;

        background: url("/img/interaction/interaction-orange-rectangle-2.png")
        no-repeat;
        background-size: cover;
    }

    .interaction__tips-container-3 {
        bottom: 0;

        width: 10rem;
        height: 10rem;

        background: url("/img/interaction/interaction-orange-rectangle-3.png")
        no-repeat;
        background-size: cover;
    }

    .interaction__tips-icon-2::before {
        content: url("/img/interaction/contract.png");
    }

    .interaction__tips-icon-3::before {
        content: url("/img/interaction/magnifying-glass.png");
    }
}

@media (max-width: 360px) {
    .interaction__tips-icon::before {
        bottom: -180%;
    }
}
