/* MOBILE */
@media (max-width: 685px) {
    .partners {
        height: 44rem;
    }

    .partners__heading {
        margin-top: 2rem;

        font-size: 4rem;
    }

    .partners__heading--underline {
        background-size: 38% 2px;
    }

    .partners__customer-logos-container {
        margin: 8rem auto 0;

        column-gap: 3rem;
        row-gap: 5rem;
    }

    .partners__customer-logo-mccann {
        width: calc(13rem * 0.75);
    }

    .partners__customer-logo-un-women {
        width: calc(13rem * 0.75);
    }

    .partners__customer-logo-accenture {
        width: calc(13rem * 0.75);

        align-self: flex-start;
    }

    .partners__customer-logo-cisco {
        width: calc(9rem * 0.75);
    }

    .partners__customer-logo-eventribe {
        width: calc(13rem * 0.75);
    }

    .partners__customer-logo-zappos {
        width: calc(12rem * 0.75);
    }

    .partners__customer-logo-siemens {
        width: calc(15rem * 0.75);
    }
}
