/* TABLET */
@media (max-width: 980px) {
    .interaction {
        height: 70rem;
    }

    .interaction__tips {
        position: relative;

        display: inline-block;

        width: 70%;
        margin-top: 4rem;

        word-spacing: 3px;

        color: black;

        font-size: 2rem;
    }

    .interaction__tips-icon::before {
        position: absolute;
        bottom: 30%;
        left: 2.5%;

        display: inline-block;

        transform: scale(0.45);
    }

    .interaction__tips__column {
        margin: 0 auto;
    }

    .interaction__tips-container-1 {
        top: 0;

        width: 20rem;
        height: 20rem;
    }

    .interaction__tips-container-2 {
        left: 0;

        width: 20rem;
        height: 20rem;
    }

    .interaction__tips-container-3 {
        bottom: 0;

        width: 20rem;
        height: 20rem;
    }

    .interaction__text-container {
        width: 70%;
        margin-left: 3rem;

        align-items: center;
        gap: 1rem;
        justify-content: center;
    }

    .interaction__bookmark-container {
        display: none;
    }

    .interaction__main-text {
        width: 100%;

        text-align: center;
        word-spacing: 0.5rem;

        font-size: 3rem;
    }

    .interaction__sub-text {
        margin-top: 0;

        word-spacing: 0.5rem;

        font-size: 3.5rem;
    }

    .interaction__sub-text--white-line {
        padding-right: 0;
        padding-bottom: 1.5rem;

        background: url("/img/interaction/interaction-white-line.jpg") no-repeat;
        background-position: 55% 99%;
        background-size: 73% 0.15rem;
    }

    .interaction__secondary-text--small-screen {
        display: block;

        width: 100%;
        margin-top: 5rem;

        text-align: center;

        color: rgba(255, 255, 255, 0.8);

        font-size: 2rem;
        font-weight: 300;
        line-height: 1.3;
    }

    .interaction__secondary-text {
        display: none;
    }
}
