.features {
    height: 70rem;

    background-color: white;
}

.features__heading--underline {
    padding-bottom: 8px;

    background: url("/img/general/underline-blue-left.png") no-repeat;
    background-position: 2% 100%;
    background-size: 35% 4px;
}

.features__grid-container {
    display: grid;

    margin: 0 5rem;

    text-align: center;

    color: #037693;

    font-size: 4rem;

    gap: 0.15rem;
    grid-template-columns: repeat(3, 1fr);
}

.features__feature-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.features__feature-container--br::before {
    position: relative;
    top: 6.5rem;
    left: 51%;

    display: block;

    width: 40%;

    content: "";
    transform: rotate(90deg);

    border-bottom: 2px solid #037693;
}

.features__feature-container--br--bottom::before {
    top: 10rem;
}

.features__feature-container--bb::after {
    display: block;

    width: 80%;
    margin: 0 auto;
    padding-top: 20px;

    content: "";

    border-bottom: 2px solid #037693;
}

.features__text--offset {
    margin-bottom: 1rem;
}

.feature__icon-3--offset {
    margin-top: 3.5rem;
}

.feature__icon-6--offset {
    margin-top: 3rem;
}

.feature__icon-1 {
    width: 4rem;
}

.feature__icon-2 {
    width: 6rem;
}

.feature__icon-3 {
    width: 6rem;
}

.feature__icon-4 {
    width: 6rem;
}

.feature__icon-5 {
    width: 5rem;
}

.feature__icon-6 {
    width: 5rem;
}

.features__feature-container--mt {
    margin-top: 3rem;
}

.features__grid-container--tablet {
    display: none;
}

@media (max-width: 1090px) {
    .features__grid-container {
        display: grid;

        margin: 0 2.5rem;

        text-align: center;

        color: #037693;

        font-size: 4rem;

        gap: 0.15rem;
        grid-template-columns: repeat(3, 1fr);
    }
}
