.footer {
    position: relative;

    display: grid;

    height: 60rem;

    background-color: var(--main-black);

    align-items: center;
    column-gap: 5%;
    grid-template-columns: 30% 65%;
    grid-template-rows: 90% 10%;
}

.footer__we-are-ask-it-container {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
    gap: 4rem;
}

.footer__logo {
    width: 9rem;
}

.footer__we-are-ask-it-text {
    text-align: center;

    color: var(--pale-white);

    font-size: 1.8rem;
    line-height: 1.3;
}

.footer__resources-container {
    display: flex;

    width: 100%;

    align-items: flex-start;
    gap: 10rem;
    justify-content: flex-start;
}

.footer__resources-heading {
    font-size: 2.5rem;
    font-weight: 400;
}

.footer__resources-list-container {
    display: flex;
    flex-direction: column;

    list-style-type: none;

    gap: 0.5rem;
}

.footer__resources-link {
    text-decoration: none;

    color: inherit;

    font-size: 1.8rem;
}

.footer__resources-link-wrapper {
    padding: 0.25rem 0.5rem;

    color: var(--pale-white);
    border-right: 2px solid transparent;
}

.footer__resources-link-wrapper:hover,
.footer__resources-link-wrapper:active {
    color: var(--main-white);
    border-right: 2px solid var(--light-grey);
    background-color: var(--hover-black);
}

.footer__we-are-social-container {
    display: flex;
    flex-direction: column;

    width: 40%;
    margin-left: 3rem;
    padding-right: 5rem;

    text-align: center;

    gap: 3.5rem;
}

.footer__socials-container {
    display: flex;

    justify-content: space-around;
}

.footer__socials-logo {
    padding: 0.5rem 0.5rem 0.1rem;

    text-decoration: none;

    color: var(--main-white);

    font-size: 2.8rem;
}

.footer__socials-logo:hover,
.footer__socials-logo:active {
    color: var(--main-black);
    background-color: var(--main-white);
}

.footer__resources-subscribe-text {
    color: var(--pale-white);

    font-size: 2rem;
}

.footer__resources-subscribe-input {
    width: 100%;
    padding: 0.5rem;

    text-align: center;

    color: var(--main-white);
    border: none;
    border-bottom: 2px solid var(--main-white);
    background-color: transparent;

    font-size: 1.5rem;
}

.footer__resources-subscribe-input-container {
    position: relative;

    display: flex;

    justify-content: center;
}

.footer__socials-envelope {
    font-size: 2.8rem;
}

.footer__socials-envelope--offset {
    position: absolute;
    z-index: 5;
    right: 1%;
}

.footer__copyright {
    text-align: center;

    color: var(--pale-white);

    font-size: 2.5rem;

    grid-column: 3 / 1;
}

@media (max-width: 1375px) {
    .footer__resources-my-account-container {
        width: 25%;
    }

    .footer__resources-useful-links-container {
        width: 25%;
    }
}
