.header__logo-container {
    display: flex;

    justify-self: center;
}

.header__logo {
    height: 9rem;
}

.header__main-nav {
    display: flex;

    list-style: none;

    font-size: 2.5rem;

    align-items: center;
    gap: 1.6rem;
}

.header__main-nav-link {
    display: block;

    padding: 4.4rem 0.2rem;

    text-decoration: none;

    color: var(--grey);
    border-top: 3px solid transparent;
}

.header__main-nav-link:hover {
    color: var(--main-white);
    border-top: 3px solid var(--light-grey);
    background-color: var(--hover-black);
}

.header__login-signup-container {
    display: flex;

    gap: 2rem;
}

.header__login-signup-button {
    display: inline-block;

    padding: 4.25rem 0.5rem;

    text-decoration: none;

    color: var(--main-white);
    border-top: 3px solid transparent;
}

.header__login-signup-button:hover,
.header__login-signup-button:active {
    color: var(--main-white);
    border-top: 3px solid var(--light-grey);
    background-color: var(--hover-black);
}

.header__login-signup-icon-container {
    display: flex;
    flex-direction: column;

    color: var(--grey);

    font-size: 1.4rem;

    align-items: center;
}

.login-sigup__icon {
    font-size: 2.4rem;
}

.header {
    height: 70rem;
}

.header-hero {
    background-image: url("/img/header/hero-with-gradient.jpg");
    background-size: cover;
}

.header-container {
    display: flex;

    height: 11.6rem;

    background-color: #090909;

    align-items: center;
    justify-content: space-evenly;
}

.header__content-container {
    display: flex;

    height: 83.5%;
}

.header__content-wrapper {
    position: relative;

    width: 70%;
}

.header__phone-img-wrapper {
    position: relative;

    width: 30%;
}

.header__phone-img {
    position: absolute;
    top: 29%;

    width: 25rem;
}

.header__headings-container {
    display: flex;
    flex-direction: column;

    height: 40%;
    margin-top: 11rem;

    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.header__main-heading {
    text-shadow: 1px 5px var(--main-black);

    font-size: 5rem;
    font-weight: bold;
}

.header__main-heading--underline {
    padding-bottom: 8px;

    background: url("/img/header/main-heading-underline.png") no-repeat;
    background-position: 100% 100%;
    background-size: 36% 4px;
}

.header__secondary-heading {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.header__buttons-container {
    display: flex;

    margin-top: 5rem;

    gap: 3rem;
    justify-content: center;
}

.header__button {
    padding: 1.2rem 1.6rem;

    cursor: pointer;

    color: var(--main-white);
    border: 1px solid var(--main-white);
    background: transparent;

    font-size: 1.6rem;
}

.header__button:hover,
.header__button:active {
    box-shadow: 0 0 10px 2px var(--main-white);
}

.header__button--alt {
    color: var(--main-blue);
    background: #e8e9ea;
}

.header__button--alt:hover,
.header__button--alt:active {
    background-color: var(--main-white);
}

.header__burger-menu {
    display: none;
}
