.how-it-works {
    height: 60rem;

    background-color: white;
}

.how-it-works__heading--underline {
    padding-bottom: 8px;

    background: url("/img/general/underline-blue-left.png") no-repeat;
    background-position: 2% 100%;
    background-size: 25% 4px;
}

.how-it-works__content-container {
    display: flex;

    height: 50%;
    margin-top: 4rem;

    align-items: flex-start;
    justify-content: space-evenly;
}

.how-it-works__icon-container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.how-it-works__text-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 0.5rem;
}

.how-it-works__text {
    color: #037693;

    font-size: 2rem;
    font-weight: 600;
}

.how-it-works__icon {
    padding: 2rem;

    color: #037693;
    border: 1px solid #037693;

    font-size: 7rem;
}

.how-it-works__icon--alt {
    color: white;
    background-color: #037693;
}

.how-it-works__text--mt {
    margin-top: 5rem;
}
