.interaction {
    display: flex;

    height: 75rem;

    background-color: #037693;
}

.interaction__bookmark-container {
    display: flex;
    flex-direction: column;

    width: 15%;

    align-items: flex-end;
}

.interaction__bookmark {
    position: relative;

    display: inline-block;

    margin-right: 5rem;

    transform: rotate(180deg);
    text-align: right;
    vertical-align: middle;
    letter-spacing: 3px;

    color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-bottom: none;

    font-size: 3rem;
    font-weight: 300;

    writing-mode: vertical-rl;
}

.interaction__bookmark--padding {
    padding: 11rem 1.5rem 1.5rem 2rem;
}

.interaction__bookmark::after {
    position: absolute;
    top: 0;
    left: 25%;

    display: inline-block;

    content: url("/img/interaction/interaction-white-line-cicle.png");
    transform: rotate(180deg) scale(0.7);
}

.interaction__text-container {
    display: flex;
    flex-direction: column;

    width: 40%;

    align-items: flex-start;
}

.interaction__main-text {
    width: 50%;

    font-size: 5rem;
    line-height: 1.3;
}

.interaction__main-text--block {
    display: block;
}

.interaction__sub-text {
    margin-top: 2rem;

    font-size: 2.5rem;
}

.interaction__sub-text--white-line {
    padding-right: 18rem;

    background: url("/img/interaction/interaction-white-line.jpg") no-repeat;
    background-position: 100% 80%;
    background-size: 45% 0.15rem;
}

.interaction__main-text--pl {
    padding-left: 0.5rem;
}

.interaction__secondary-text {
    color: rgba(255, 255, 255, 0.8);

    font-size: 2rem;
    font-weight: 300;
    line-height: 1.3;
}

.interaction__secondary-text--mt {
    margin-top: 5rem;
}

.interaction__secondary-text--small-screen {
    display: none;
}

.interaction__secondary-text--pr {
    padding-right: 5rem;
}

.interaction__secondary-text--mt-sm {
    margin-top: 2.5rem;
}

.interaction__tips-container {
    display: flex;
}

.interaction__tips__column {
    display: flex;
    flex-direction: column;

    margin-left: 6rem;

    justify-content: center;
}

.interaction__tips {
    position: relative;

    display: inline-block;

    width: 70%;
    margin-top: 5rem;

    word-spacing: 3px;

    color: black;

    font-size: 2.5rem;
}

.interaction__tips-icon::before {
    position: absolute;
    bottom: 80%;
    left: 20%;

    display: inline-block;

    transform: scale(0.7);
}

.interaction__tips-icon-1::before {
    content: url("/img/interaction/light-bulb.png");
}

.interaction__tips-icon-2::before {
    content: url("/img/interaction/magnifying-glass.png");
}

.interaction__tips-icon-3::before {
    content: url("/img/interaction/contract.png");
}

.interaction__tips-container-1 {
    position: relative;
    top: 13.25rem;

    display: flex;

    width: 25rem;
    height: 25rem;

    text-align: center;

    background: url("/img/interaction/interaction-orange-rectangle-1.png")
    no-repeat;
    background-size: cover;

    align-items: center;
    justify-content: center;
}

.interaction__tips-container-2 {
    position: relative;
    left: 15rem;

    display: flex;

    width: 25rem;
    height: 25rem;

    text-align: center;

    background: url("/img/interaction/interaction-orange-rectangle-3.png")
    no-repeat;
    background-size: cover;

    align-items: center;
    justify-content: center;
}

.interaction__tips-container-3 {
    position: relative;
    bottom: 13.25rem;

    display: flex;

    width: 25rem;
    height: 25rem;

    text-align: center;

    background: url("/img/interaction/interaction-orange-rectangle-2.png")
    no-repeat;
    background-size: cover;

    align-items: center;
    justify-content: center;
}

@media (max-width: 1490px) {
    .interaction__main-text {
        width: 70%;
        margin-top: 5rem;

        font-size: 5rem;
        line-height: 1.3;
    }
}

@media (max-width: 1300px) {
    .interaction {
        display: flex;

        height: 80rem;

        background-color: #037693;
    }
}

@media (max-width: 1200px) {
    .interaction__tips-icon::before {
        position: absolute;
        bottom: 80%;
        left: 16%;

        display: inline-block;

        transform: scale(0.6);
    }

    .interaction__bookmark--padding {
        padding: 12rem 1.5rem 1.5rem 2rem;
    }
}
